@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: 220 45% 4%; --foreground: 0 0% 100%;
  --card: 213 40% 7%; --card-foreground: 0 0% 100%;
  --primary: 24 100% 55%; --primary-foreground: 222 47% 8%;
  --secondary: 213 30% 12%; --secondary-foreground: 0 0% 100%;
  --muted: 213 25% 14%; --muted-foreground: 215 16% 65%;
  --accent: 213 30% 12%; --accent-foreground: 0 0% 100%;
  --border: 210 20% 18%; --input: 210 20% 18%; --ring: 24 100% 55%;
  --senal: 192 74% 70%; --exito: 158 64% 52%;
}
:root[data-tema="claro"] {
  --background: 210 40% 96%; --foreground: 222 47% 8%;
  --card: 0 0% 100%; --card-foreground: 222 47% 8%;
  --primary: 24 100% 52%; --primary-foreground: 0 0% 100%;
  --secondary: 210 40% 92%; --secondary-foreground: 222 47% 8%;
  --muted: 210 30% 90%; --muted-foreground: 215 16% 40%;
  --border: 214 20% 85%; --input: 214 20% 85%; --senal: 192 50% 36%;
}
* { border-color: hsl(var(--border)); }
body { background: hsl(var(--background)); color: hsl(var(--foreground)); font-family: Inter, system-ui, sans-serif; }
